* {
  box-sizing: border-box;
  border: 1px solid gray;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  width: 360px;
}

.display {
  height: 180px;
}

.history {
  height: 90px;
  padding: 10px;
}

.main {
  height: 90px;
  text-align: right;
  padding: 15px;
  font-size: 3rem;
}

.keypad {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.key {
  width: 90px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
